<div class="container-fluid about-snippet-block text-center">
    <img class="img-fluid" width="150" src="{{ url_for('static', filename='img/profile.png') }}" alt="Profile Picture">
    <div class="mt-3">
        <p class="p-small-one">Name Surname, City (Prov.), Year.</p>
        <p class="p-small-one">Qualification.</p>
        <p class="p-small-one">Other info.</p>
        <hr>
        <p><a class="custom-link p-small-one text-muted" href="mailto:email">email</a></p>
        <p class="p-small-one text-muted">Name Surname © Anno</p>
    </div>
</div>